@model TP_PWEB.Models.Verification

@{
    ViewData["Title"] = "Create";
}



<h4>Add a verification for your property</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="@Model.IsAtExit" class="form-control" />
                <select asp-for="@Model.IsAtExit" asp-items="@Model.Type" class="form-control">
                    <option value="">Please select the moment of verification</option>
                </select>
            </div>

            <input type="hidden" asp-for="@Model.PropertyId" />
            <br />
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
            <br />
          
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary " onclick="history.go(-1); return false;" href="#">Back </a><br />
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
