@model IEnumerable<TP_PWEB.Models.Evaluation>


<table class="table">
    <thead>
        <tr>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <partial name="~/Views/Evaluations/Details.cshtml" for="@item" />
        }
    </tbody>
</table>
